*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background: #a09f9f;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}


.row {
  display: flex;
  flex-wrap: nowrap;
}


.menu {
  width: 100%;
  height: 100vh;
  background: url('./images/MinecraftLogo.png') no-repeat center center/contain;
  position: relative;
}

.start {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, rgb(219, 218, 218), rgba(0, 0, 0, 1));
  color: white;
  font-family: 'mincraft';
  font-size: 20px;
  box-shadow: 1px 2px 3px white;
  padding: 30px 60px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.start:hover {
  background: linear-gradient(to bottom, rgba(63, 63, 63, 0.9), rgba(0, 0, 0, 0.9));
}

.area {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-area {
  background: transparent;
  width: 80%;
  justify-content: center;
}


.tile {
  height: 9vh;
  width: 9vh;
  transition: background 0.8s ease-in-out;
  background: lightblue no-repeat center center/cover;
}

.tile:hover {
  border: 1px solid white;
}

.tile[data-type="-1"] {
  background: lightblue;
}

.tile[data-type="0"] {
  background: url('./images/dirt.png') no-repeat center center/cover;
}

.tile[data-type="1"] {
  background: url('./images/grass.png') no-repeat center center/cover;
}

.tile[data-type="2"] {
  background: url('./images/leaf.png') no-repeat center center/cover;
}

.tile[data-type="3"] {
  background: url('./images/dirt.png') no-repeat center center/cover;
}

.tile[data-type="4"] {
  background: url('./images/rock.png') no-repeat center center/cover;
}

.tile[data-type="5"] {
  background: url('./images/lava.png') no-repeat center center/cover;
}


.tools {
  background: #333333;
  width: 20vw;
  padding: 50px 10px;
  color: white;
}

.tool {
  padding: 10px;
  padding-bottom: 2px;
  text-align: center;
  width: 50%;
  font-size: 0.9em;
  border: 2px solid white;
  transition: background 0.5s ease-in-out;
}

.tool:hover {
  background: blue;
}

.tool.active {
  background: blue;
  opacity: 0.7;
}

.tool.active.warning {
  background: red;
  opacity: 0.7;
}

.tool .img {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  background: white;
  background-size: contain;
}

.tool[data-tool="1"]>.img {
  background: url('./images/shovel.png') no-repeat center center/contain;
}

.tool[data-tool="0"]>.img {
  background: url('./images/pickaxe.png') no-repeat center center/contain;
}

.tool[data-tool="2"]>.img {
  background: url('./images/axe.png') no-repeat center center/contain;
}

.sidebar-toolsList {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  width: 80%;
  height: 100%;
  margin: auto;
}

.data-type {
  width: 8vh;
  height: 8vh;
  border: 2px solid white;
}

.data-type[data-type="-1"] {
  background: transparent;
}

.data-type[data-type="0"] {
  background: url('./images/dirt.png') no-repeat center center/cover;
}

.data-type[data-type="1"] {
  background: url('./images/grass.png') no-repeat center center/cover;
}

.data-type[data-type="2"] {
  background: url('./images/leaf.png') no-repeat center center/cover;
}

.data-type[data-type="3"] {
  background: url('./images/tree.png') no-repeat center center/cover;
}

.data-type[data-type="4"] {
  background: url('./images/rock.png') no-repeat center center/cover;
}

.data-type[data-type="5"] {
  background: url('./images/cloud.png') no-repeat center center/cover;
}